@charset "utf-8";

.wrap1 {
    /*版心 */
    width: 1366px;
    margin: 0 auto;
}

/* 图标颜色为黑色 */
#link .iconfont {
    color: black;
}

/* 头部的 第一个li 不超出隐藏 */
#link #r ul li:nth-child(1) {
    width: 200px;
}

/* 顶部 */
#top {
    height: 180px;
    background: white;
}

/* 版心 */
#top .wrap1 {
    height: 100%;
}

#top .wrap1 #top-t {
    height: 146px;
    width: 100%;
}

/* 左边的logo 和 手机分类菜单 */
#top .wrap1 #top-t #l {
    width: 474px;
    height: 100%;
    line-height: 146px;
}

#top .wrap11 #top-t #l #img-box {
    width: 212px;
    height: 70px;
}

#top .wrap1 #top-t #l #img-box img {
    width: 100%;
    height: 100%;
}

#top .wrap1 #top-t #l p {
    font-size: 34px;
    color: black;
    font-weight: bolder;
    margin-left: 38px;
    margin-top: 10px;
}

#top .wrap1 #top-t #l p span {
    width: 120px;
    height: 34px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    color: #ccc;
    border: 1px solid #ccc;
    margin-left: 14px;
    padding-top: 4px;
}

/* 中间的搜索框 */

#top .wrap1 #top-t #c {
    width: 580px;
    height: 90px;
    margin-top: 50px;
    /* margin-left: 28px; */
    margin-right: 38px;
}

#top .wrap1 #top-t #c a:hover {
    color: red;
}

#top .wrap1 #top-t #c #sreach {
    height: 52px;
    width: 100%;
    border: 2px solid red;
    line-height: 52px;
    margin-bottom: 5px;
}

#top .wrap1 #top-t #c #sreach #box {
    width: 120px;
    height: 100%;
    background: red;
    text-align: center;
    font-size: 34px;
    line-height: 52px;
    color: white;
}

/* 右边的购物车 */
#top .wrap1 #top-t #r {
    width: 200px;
    height: 55px;
    background: #f9f9f9;
    margin-top: 49px;
    /* margin-left: 84px; */
    border: 1px solid #ccc;
}

#top .wrap1 #top-t #r p {
    font-size: 18px;
    line-height: 55px;
    margin-left: 12px;
}

#top .wrap1 #top-t #r .iconfont {
    font-size: 34px;
    color: red;
    margin-left: 14px;
    line-height: 55px;
}

#top .wrap1 #top-t #r em {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: red;
    font-size: 18px;
    color: white;
    line-height: 30px;
    text-align: center;
    margin-left: -6px;
}

/* 导航栏 */
#top-b {
    /* background: chartreuse; */
    width: 100%;
    height: 52px;
    background: #221C63;
}

#top-b .wrap1 {
    height: 52px;
}

#top-b .wrap1 ul {
    width: 100%;
    height: 100%;
    line-height: 52px;
}


#top-b .wrap1 ul li {
    min-width: 100px;
    float: left;
    margin-left: 10px;
    text-align: center;
}

#top-b .wrap1 ul li a {
    font-size: 20px;
    color: white;
}

#top-b .wrap1 ul li a:hover {
    color: red;
}



/* 标题栏 */
#tit {
    height: 49px;
    background: #f2f2f2;
}

#tit .wrap1 {
    height: 49px;
    line-height: 49px;
}

#tit .wrap1 ul {
    width: 100%;
    height: 100%;
}

#tit .wrap1 ul li {
    /* min-width: 110px; */
    float: left;
    font-size: 20px;
    margin-left: 10px;
}

#tit .wrap1 ul li a {
    color: black;
    font-size: 20px;
}


/* 手机详情区域 */
#mi_phone {
    min-height: 807px;
}

#mi_phone .wrap1 {
    min-height: 807px;
    /* background: blue; */
}

#mi_phone .wrap1 #phone {

    height: 807px;
    width: 100%;
}

/* 手机展示区域 */

#phone #show_phone {
    width: 508px;
    height: 620px;
    /* background: blanchedalmond; */

    margin-top: 10px;
}



#phone #show_phone #img {
    border: 1px solid #ccc;
    height: 508px;
    width: 100%;
}

#phone #show_phone #img img {
    width: 100%;
    height: 100%;
}


/* 手机切换区域 */
#mi_phone .wrap1 #banner {
    height: 112px;
    width: 508px;
    /* background: cadetblue; */
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#mi_phone .wrap1 #banner .iconfont {
    font-size: 31px;
    color: gray;
}

#mi_phone .wrap1 #banner #rightarrow {
    font-size: 26px;
}

#mi_phone .wrap1 #banner img:hover {
    border: 1px solid red;
}


/* 旁边的手机信息区域 */
#phone #phone_message {
    width: 834px;
    height: 100%;
    /* background: blueviolet; */
    margin-left: 24px;
}

#phone #phone_message #title {
    height: 48px;
    width: 100%;

    font-size: 18px;
    font-weight: bolder;
    line-height: 48px;
    margin-top: 10px;
}

#phone #phone_message #con {
    height: 32px;
    width: 100%;

    font-size: 12px;
    /* font-weight: bolder; */
    line-height: 32px;
    color: red;
    margin-top: 12px;
}

#phone #phone_message #price {
    height: 94px;
    width: 100%;
    background: #f4f4f4;
    font-size: 14px;
    color: #ccc;
    padding: 16px 12px;
    margin-top: 12px;
}

#phone #phone_message #price em {
    font-size: 22px;
    color: red;
    margin: 0 14px;
}

#phone #phone_message #price span {
    font-size: 14px;
    color: #005aa0;
}

#phone #phone_message #price p {
    margin-top: 16px;
}

#phone #phone_message #price p span {
    margin-left: 20px;
}

#phone #phone_message #address {
    height: 48px;
    width: 100%;
    line-height: 48px;
    margin-top: 12px;

}

#phone #phone_message #address span {
    color: #ccc;
    font-size: 16px;
    margin: 0 14px;
}

#phone #phone_message #address #box {
    min-width: 150px;
}

#phone #phone_message #weight {

    height: 48px;
    width: 100%;
    line-height: 48px;
    margin-top: 12px;

}

#phone #phone_message #weight span {
    font-size: 14px;
    color: #ccc;
    margin: 0 14px;
}

#phone #phone_message #color {
    margin-top: 12px;
    height: 58px;
    width: 100%;
    line-height: 58px;
}

#phone #phone_message #color p {
    color: #ccc;
    font-size: 14px;
    margin: 0 14px;
}

#phone #phone_message #color div {
    float: left;
    height: 100%;
    width: 106px;
    border: 1px solid gray;
    margin-left: 24px;
    text-align: center;
    background: #f7f7f7;
}

#phone #phone_message #color div:nth-child(3) {
    border: 1px solid red;
}


#phone #phone_message #copy {
    margin-top: 20px;
    height: 48px;
    width: 100%;
    line-height: 48px;
}

#phone #phone_message #copy p {
    color: #ccc;
    font-size: 14px;
    margin: 0 14px;
}

#phone #phone_message #copy div {
    float: left;
    height: 100%;
    width: 106px;
    border: 1px solid gray;
    margin-left: 24px;
    text-align: center;
    background: #f7f7f7;
}

#phone #phone_message #copy div:nth-child(2) {
    border: 1px solid red;
}

#phone #phone_message #method {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    line-height: 50px;
}

#phone #phone_message #method p {
    color: #ccc;
    font-size: 14px;
    margin: 0 14px;
}

#phone #phone_message #method div {
    float: left;
    height: 100%;
    width: 106px;
    border: 1px solid gray;
    margin-left: 24px;
    text-align: center;
    background: #f7f7f7;
}

#phone #phone_message #method div:nth-child(2) {
    border: 1px solid red;
}

#phone #phone_message #bz {
    margin-top: 20px;
    height: 34px;
    width: 100%;
    line-height: 34px;
}

#phone #phone_message #bz p {
    color: #ccc;
    font-size: 14px;
    margin: 0 14px;
}

#phone #phone_message #bz div {
    float: left;
    height: 100%;
    width: 136px;
    border: 1px solid gray;
    margin-left: 24px;
    text-align: center;
    background: #f7f7f7;
}

#phone #phone_message #bz div:nth-child(4) {
    border: 1px solid red;
}

#phone #phone_message #fq {
    margin-top: 20px;
    height: 34px;
    width: 100%;
    line-height: 34px;
}

#phone #phone_message #fq p {
    color: #ccc;
    font-size: 14px;
    margin: 0 14px;
}

#phone #phone_message #fq div {
    float: left;
    height: 100%;
    width: 120px;
    border: 1px solid gray;
    margin-left: 24px;
    text-align: center;
    background: #f7f7f7;
}

/* 加入购物车 */
#phone #phone_message #car {
    margin-top: 38px;
    height: 52px;
    width: 100%;
    line-height: 52px;
}

#phone #phone_message #car p {
    color: #ccc;
    font-size: 14px;
    margin: 0 14px;
}

#phone #phone_message #car div {
    float: left;
    height: 100%;
    width: 180px;
    margin-left: 14px;
    text-align: center;
    background: red;
    font-size: 24px;
    color: white;
}

#phone #phone_message #car div:nth-child(1) {
    background: white;
    border: 1px solid #ccc;
    width: 90px;
    color: black;
}

#phone #phone_message #car div input {
    width: 20px;
    height: 26px;
    float: right;
    /* line-height: 52px; */
    margin-top: 13px;
}

#phone #phone_message #cont {
    margin-top: 14px;
    height: 52px;
    width: 100%;
    line-height: 52px;
}

#phone #phone_message #cont i {
    margin-left: 14px;
    color: #ccc;
}


#shop-message {
    min-height: 10000px;

}

#shop-message .wrap1 {
    /* background: #f7f7f7; */
    min-height: 10000px;
}

#shop-message .wrap1 #left {
    width: 238px;
    height: 54px;
    background: #f7f7f7;
}

#shop-message .wrap1 #right {

    width: 1112px;
    height: 100%;
    background: #f7f7f7;

}

#shop-message .wrap1 #right ul {
    width: 900px;
    height: 100%;
    line-height: 54px;
}

#shop-message .wrap1 #right ul li {
    float: left;
    min-width: 120px;
    height: 100%;
    line-height: 54px;
    text-align: center;
    color: black;
}

#shop-message .wrap1 #right div {
    width: 124px;
    height: 42px;
    background: red;
    text-align: center;
    line-height: 42px;
    margin-top: 8px;
    color: white;
}

#shop-message .wrap1 #right ul li:nth-child(1) {
    background: red;
    color: white;
}

#shop-message .wrap1 #show {
    width: 238px;
    height: 294px;
    background: #f7f7f7;
}

#shop-message .wrap1 #MIshow {

    width: 1112px;
    height: 294px;
    background: white;
    border-bottom: 1px solid #ccc;

}

#shop-message .wrap1 #MIshow p {
    margin-top: 64px;
    margin-left: 57px;
    margin-bottom: 22px;
}

#shop-message .wrap1 #MIshow ul {
    margin: 8px 8px 0 57px;
    height: 24px;
    width: 900px;
    display: flex;

    /* justify-content: space-between; */
}

#shop-message .wrap1 #MIshow ul li {
    float: left;
    min-width: 280px;
}

#shop-message .wrap1 #MIshow ul:nth-child(1) {
    margin-top: 34px;
}

#shop-message .wrap1 #MIshow span {
    color: turquoise;
}


#shop-message .wrap1 #left-show {
    width: 238px;
    min-height: 2000px;
    background: #f7f7f7;
}

#shop-message .wrap1 #right-MIshow {

    width: 1112px;
    height: 20078;
    background: #f7f7f7;
}

#shop-message .wrap1 #right-MIsho img {
    width: 100%;
    height: 100%;
}

footer {
    margin-top: 10500px;
}